
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.main {
    height: 100vh;
    width: 100vw;
}

.title-box {
    margin-top: 6%;
}

.title {
    color: whitesmoke;
    text-align: center;
}

.title-sm {
    font-size: smaller;
}

.formContainer {
    width: 60vw;
    height: 50vh;
    background-color: azure;
    margin-top: 3%;
    margin-left: 20%;
    border-radius: 10px;
}

.formFrame {
    margin: 5%;
    padding-top: 5%;
}

.formFields {
    margin: 6px
}

.form-label {
    text-align: center;
}

#submit {
    margin-top: 40px;
}

.hide {
    display: none;
}